{% extends "templates/web.html" %}
{% block title %} Conference Booking {% endblock%}

{% block content %}
<br>
<div class="alert alert-danger" role="alert" id="greet" align="center">
  <span class="sr-only">Error:</span>
</div>
<div class="panel panel-primary">
  <div class="panel-heading" align="center"><b>Conference Booking</b></div>
  <div class="panel-body">    
    <div class="row">
      <form role="form">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="email_id">Email</label>
            <span class="input-icon">
              <input class="form-control" id="email_id" placeholder="Enter Email Id" type="text"/>
            <i class="fa icon-envelope"></i></span>
          </div>
          <div class="form-group">
            <label for="conference">Conference</label>
            <select class="form-control" id="conference"></select>
          </div>
          <div class="form-group">
            <label for="building">Building</label>
            <input class="form-control" id="building" placeholder="Enter the Building" type="text"/>
            <i class="fa icon-building"></i></span>
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <span class="input-icon"> 
            <input class="form-control" id="location" placeholder="Enter the Location" type="text"/><i class="fa icon-map-marker"></i></span>
          </div>
         <div class="form-group">
            <label for="area">Area</label>
            <span class="input-icon">
            <input class="form-control" id="area" placeholder="Enter the Area"></input>
            <i class="fa icon-file-text-alt"></i></span>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <span class="input-icon">
            <input class="form-control" id="city" placeholder="Enter the Conference"></input>
            <i class="fa icon-file-text-alt"></i></span>
          </div>
          <div class="form-group">
            <label for="facility">Facility</label>
            <span class="input-icon">
            <input class="form-control" id="facility" placeholder="Enter the Facility"></input>
            <i class="fa icon-file-text-alt"></i></span>
          </div>
        </div>
        
        <div class="col-lg-6">
          <div class="form-group">
            <label for="date">Date</label>
            <span class="input-icon">
              <input class="form-control" id="date" placeholder="Select the Date" type="text"/>
            <i class="fa icon-building"></i></span>
          </div>
          <div class="form-group">
            <label for="from_time">From Time</label>
            <span class="input-icon">
              <input class="form-control" id="from_time" placeholder="Shows Current Time" type="text"/>
            <!--<i class="fa icon-building"></i></span>!-->
          </div>
          <div class="form-group">
            <label for="to_time">To Time</label>
            <span class="input-icon">
            <input class="form-control" id="to_time" placeholder="Shows To Time" type="text"/>
            <!--<i class="fa icon-building"></i></span>!-->
          </div>
           <div class="form-group">
            <label for="attendees">Attendess</label>
            <span class="input-icon"> 
            <textarea class="form-control" id="attendees" placeholder="Enter the Attendess" type="text"/></textarea> <i class="fa icon-star"></i></span>
          </div>
        <div class="form-group">
            <label for="agenda">Agenda</label>
            <span class="input-icon">
            <textarea class="form-control" id="agenda" placeholder="Enter the Agenda of conference" type="text"></textarea>
            <i class="fa icon-desktop"></i></span>
          </div>
        </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel-footer">
    <div class="col-lg-12"  align="center">
      <div class="form-group" style="margin-bottom:0px">
        <button class="btn btn-primary btn-conference">Book Conference</button>
        <button class="btn btn-primary btn-clear">Clear</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>     
</div>
{% endblock %}
{% block script %}
<script>
	{% include "templates/includes/conference_booking.js" %}
</script>
{% endblock %}