{% extends "templates/web.html" %}
{% block title %} Raise Issue {% endblock%}

{% block content %}
<br>
<div class="alert alert-danger" role="alert" id="greet" align="center">
  <span class="sr-only">Error:</span>
</div>
<div class="panel panel-primary">
  <div class="panel-heading" align="center"><b>Raise Issue</b></div>
  <div class="panel-body">    
    <div class="row">
      <form role="form">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="raised_by">Email</label>
            <span class="input-icon">
              <input class="form-control" id="raised_by" placeholder="Enter Email Id" type="text"/>
            <i class="fa icon-envelope"></i></span>
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <select class="form-control" id="subject"></select>
          </div>
          <div class="form-group">
            <label for="department">Department</label>
            <select class="form-control" id="department"></select>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category"></select>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="wing">Wing</label>
            <span class="input-icon">
              <input class="form-control" id="wing" placeholder="Enter the Wing" type="text"/>
            <i class="fa icon-building"></i></span>
          </div>
          <div class="form-group">
            <label for="floor">Floor</label>
            <span class="input-icon">
              <input class="form-control" id="floor" placeholder="Enter the Floor" type="text"/>
            <i class="fa icon-building"></i></span>
          </div>
          <div class="form-group">
            <label for="extension_number">Extension Number</label>
            <span class="input-icon">
            <input class="form-control" id="extension_number" placeholder="Enter the Extenstion No" type="text"/>
            <i class="fa icon-phone"></i></span>
          </div>
          <div class="form-group">
            <label for="cabin_or_workstation_number">Cabin Or Workstation Number</label>
            <span class="input-icon">
            <input class="form-control" id="cabin_or_workstation_number" placeholder="Enter the Cabin/Workstation No" type="text"/>
            <i class="fa icon-desktop"></i></span>
          </div>
        </div>
        <div class="col-lg-12" >
          <div class="form-group">
            <label for="description">Description</label>
            <span class="input-icon">
            <textarea class="form-control" id="description" placeholder="Enter the detail description regarding issue"></textarea>
            <i class="fa icon-file-text-alt"></i></span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel-footer">
    <div class="col-lg-12"  align="center">
      <div class="form-group" style="margin-bottom:0px">
        <button class="btn btn-primary btn-raise">Raise Support Ticket</button>
        <button class="btn btn-primary btn-clear">Clear</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
	{% include "templates/includes/raise-issue.js" %}
</script>
{% endblock %}