{% extends "templates/web.html" %}
{% block title %} Raise Issue {% endblock%}
{% block hero %}<center><h3>Raise Issue</h3></center>{% endblock %}

{% block content %}
<br>
<div class="row">
  <form role="form">
    <div class="col-lg-6" style="padding:0px 30px 0px 150px;">
      <div class="form-group">
        <label for="raised_by">Email</label>
        <input class="form-control" id="raised_by" placeholder="Enter Email Id" type="text"/>
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <select class="form-control" id="subject"></select>
      </div>
      <div class="form-group">
        <label for="department">Department</label>
        <select class="form-control" id="department"></select>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category"></select>
      </div>
    </div>
    <div class="col-lg-6"  style="padding:0px 150px 0px 30px;">
      <div class="form-group">
        <label for="wing">Wing</label>
        <input class="form-control" id="wing" placeholder="Enter the Wing" type="text"/>
      </div>
      <div class="form-group">
        <label for="floor">Floor</label>
        <input class="form-control" id="floor" placeholder="Enter the Floor" type="text"/>
      </div>
      <div class="form-group">
        <label for="extension_number">Extension Number</label>
        <input class="form-control" id="extension_number" placeholder="Enter the Extenstion No" type="text"/>
      </div>
      <div class="form-group">
        <label for="cabin_or_workstation_number">Cabin Or Workstation Number</label>
        <input class="form-control" id="cabin_or_workstation_number" placeholder="Enter the Cabin/Workstation No" type="text"/>
      </div>
    </div>
    <div class="col-lg-12" style="padding: 0px 150px 0px 150px">
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" placeholder="Enter the detail description regarding issue"></textarea>
      </div>
    </div>
    <div class="col-lg-12" style="padding: 0px 150px 0px 150px" align="center">
      <div class="form-group">
        <button class="btn btn-primary btn-raise">Raise Support Ticket</button>
        <button class="btn btn-primary btn-clear">Clear</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block script %}
<script>
	{% include "templates/includes/raise-issue.js" %}
</script>
{% endblock %}