{% block title %}<center>Raise Issue</center>{% endblock %}

{% block content %}
<br>
<div class="row">
  <div class="col-xs-4" align="right">Raised By</div>
  <div class="col-xs-6">
    <div class="form-group">
      <input class="form-control" id="raised_by" type="text"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4" align="right"> Subject</div>
  <div class="col-xs-6">
    <div class="form-group">
      <select class="form-control" id="subject"></select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4" align="right"> Department</div>
  <div class="col-xs-6">
    <div class="form-group">
		<select class="form-control" id="department"></select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4" align="right">Extension Number</div>
  <div class="col-xs-6">
    <div class="form-group">
      <input class="form-control" id="extension_number" type="text"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4" align="right">Floor</div>
  <div class="col-xs-6">
    <div class="form-group">
      <input class="form-control" id="floor" type="text"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4" align="right">Wing</div>
  <div class="col-xs-6">
    <div class="form-group">
      <input class="form-control" id="wing" type="text"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4" align="right">Cabin / Workstation Number</div>
  <div class="col-xs-6">
    <div class="form-group">
      <input class="form-control" id="cabin_or_workstation_number" type="text"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4" align="right">Category</div>
  <div class="col-xs-6">
    <div class="form-group">
      <input class="form-control" id="category" type="text"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4" align="right">Description</div>
  <div class="col-xs-6">
    <div class="form-group">
      <textarea class="form-control" id="description"></textarea>
    </div>
  </div>
</div>
<div class="row" align="center">
	<div class="col-xs-4" align="right"></div>
  <div class="col-xs-6" align="center">
    <div class="form-group">
      <button class="btn btn-primary btn-raise">Raise Support Ticket</button>
      <button class="btn btn-primary btn-clear">Clear</button>
    </div>
  </div>
</div>
<script>
	{% include "templates/includes/raise-issue.js" %}
</script>
{% endblock %}